<h1>

  Template and data binding examples

</h1>

<!-- use {{ name }} interpolation for variable binding -->
<h2>interpolation</h2>
<p>{{title}}</p>
<p>{{name}}</p>

<!-- display an array of properties with ngFor -->
<h2>Displaying an array</h2>
<p *ngFor="let hero of heroes">
  {{hero}}
</p>

<!-- display an array of objects with ngFor -->
<h2>Displaying an array of objects</h2>
<div *ngFor="let hero of heroesObj">
  <span>{{hero.id}}</span> &nbsp; &nbsp; <span>{{hero.name}}</span>
</div>

<!-- conditional display with ngIf -->
<h3>displaying conditionally</h3>
<p *ngIf="show">
  Show
</p>
<p *ngIf="!show">
    Hide
  </p>